body {
	margin: 0px;
	padding: 0px;
	background: linear-gradient(to right,#3d3c3c, #000000, #000000) ;
}

p {
	color: #fff;
	font-family: Helvetica, Times New Roman, sans-serif;
	font-size: 28px;
}

a {
	text-decoration: none;
	font-family: Calibri, Times New Roman, sans-serif;
	color: #fff;
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #000;
	height: 50px;
	padding: 8px 70px;
}

.logo {
	font-family: Times New Roman, sans-serif;
	color: #edc602;
}

.links {
	font-size: 24px;
	display: flex;
	justify-content: space-around;
	width: 250px;
}

.links a:hover {
	color: red;
}

p a:hover {
	color: red;
}

#flips:hover {
	transform: rotate(180deg);
}